# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env.*
venv/
venv.bak/
.python-version

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.expo/
.expo-shared/
web-build/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Build / OS
dist/
build/
tmp/
temp/

# Docker
docker-compose.override.yml
*.log

# Keys & secrets
*.pem
*.key

# Misc
*.sqlite3
