DATABASE_URL=postgresql://eduguard_user:YOUR_DATABASE_PASSWORD@localhost:5432/eduguard_db
API_PORT=8000
MODEL_PATH=../ml_model/eduguard_model.pkl
SECRET_KEY=change_this_to_a_random_string
ENV=development
